[Unit]
Description=Keymap for Emacs key bindings

[Service]
Type=simple
#User=
#Group=
ExecStart=%h/.config/emacs/xkeysnail/keysnail
#Restart=always
StandardOutput=journal
#StandardOutput=file:/tmp/xremap-log-%h
RuntimeMaxSec=10m
RestartSec=1000ms

[Install]
WantedBy=default.target
