#Ignore everything
*

!.gitignore

!.emacs.d/
.emacs.d/*
!.emacs.d/init*.el

!.emacs.d/xkeysnail/
.emacs.d/xkeysnail/*
!.emacs.d/xkeysnail/*.py

!.emacs.d/xremap/
.emacs.d/xremap/*
!.emacs.d/xreemap/*.yml

!.emacs.d/lisp/
.emacs.d/lisp/*
!.emacs.d/lisp/*.el

!.config/
.config/*
!.config/systemd/
.config/systemd/*
!.config/systemd/user/
.config/systemd/user/*
!.config/systemd/user/emacs*service
!.config/systemd/user/barrier*service
!.config/systemd/user/keymap*service

!.bashrc
!.bash_profile
