#Ignore everything
*

!.gitignore
!.bashrc
!.bash_profile
!.exwm

!.emacs.d/
.emacs.d/*
!.emacs.d/init*.el

!.emacs.d/xkeysnail/
.emacs.d/xkeysnail/*
!.emacs.d/xkeysnail/*.py

!.emacs.d/exwm/
.emacs.d/exwm/*
!.emacs.d/exwm/*.desktop
!.emacs.d/exwm/emacs-wm

!.emacs.d/xremap/
.emacs.d/xremap/*
!.emacs.d/xreemap/*.yml

!.emacs.d/lisp/
.emacs.d/lisp/*
!.emacs.d/lisp/*.el

!.config/
.config/*
!.config/systemd/
.config/systemd/*
!.config/systemd/user/
.config/systemd/user/*
!.config/systemd/user/emacs*service
!.config/systemd/user/barrier*service
!.config/systemd/user/keymap*service

