#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Kindle
Exec=firefox https://read.amazon.com/kindle-library
Icon=Kindle
StartupWMClass=Kindle
